.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.products > h4 {
  color: rgba(25, 25, 25, 0.7);
  border-bottom: rgba(17, 24, 32, 0.2) solid 1px;
  padding-bottom: 10px;
}
