.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.products > h3 {
  color: rgba(25, 25, 25, 0.7);
  border-bottom: rgba(17, 24, 32, 0.2) solid 1px;
  padding-bottom: 10px;
  font-size: 1em;
}

@media (min-width: 767px) {
  .products > h3 {
    border: none;
  }
  .products > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .products li {
    aspect-ratio: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: rgba(17, 24, 32, 0.1) solid 1px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .products li:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .products li a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  .products > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .products > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1900px) {
  .products > ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2200px) {
  .products > ul {
    grid-template-columns: repeat(6, 1fr);
  }
}
