.productCard {
  display: flex;
  gap: 15px;
  padding: 30px 0;
  border-bottom: rgba(17, 24, 32, 0.2) solid 1px;
}

.productCard > img {
  width: 40%;
}

.productCardText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

@media (min-width: 767px) {
  .productCard {
    border: none;
  }

  .productCardText {
    justify-content: flex-end;
  }
}
