html {
  font-size: 13px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  gap: 3vw;
  align-items: center;
}
