.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }
}
