.cartItem {
  display: flex;
  gap: 15px;
  padding: 30px 0;
  border-bottom: rgba(17, 24, 32, 0.2) solid 1px;
}

.cartItem > img {
  width: 40%;
}

.cartItemText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartItemText > p {
  font-weight: bold;
}

.fakeLink {
  background-color: initial;
  border: none;
  color: #191919;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
  align-self: flex-end;
}
